{{ define "main" }}
{{ partial "page-title.html" . }}

<aside class="uk-visible@m uk-position-fixed uk-position-y-middle-left" style="top: 150px; left: 100px;">
    <button
        class="uk-button uk-background-muted uk-button-default uk-button-large uk-margin-small-bottom uk-border-pill"
        onclick="history.back();">Return</button>
</aside>

<section class="uk-section uk-section-large">
    <div class="uk-container">
        <div class="uk-grid uk-child-width-1-3@m uk-child-width-1-3@s uk-grid-match" uk-grid>
            {{ range .Data.Pages }}
            {{ if or (eq .Params.cat "categories") (eq .Params.cat "ctf") (eq .Params.cat "year") }}
            <div>
                <a href="{{ .Permalink | relURL }}" class="uk-link-reset">
                    <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-border-rounded uk-box-shadow-medium uk-inline uk-width-1-1 snippet-card"
                        style="background-color: #f0f0f0; padding: 10px;">
                        <div class="uk-card-body" style="color: #333333;">
                            <h3 class="uk-card-title"
                                style="font-weight: bold; color: #333333; font-size: 1.2em; margin: 0;">{{ .Title }}
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            {{ else if eq .Params.cat "chal" }}
            <div>
                <a href="{{ .Permalink | relURL }}" class="uk-link-reset">
                    <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-border-rounded uk-box-shadow-medium uk-inline uk-width-1-1 snippet-card"
                        style="background-color: #f0f0f0; position: relative;">
                        <div class="uk-flex uk-flex-between uk-flex-middle" style="margin-bottom: 10px;">
                            <h3 class="uk-card-title"
                                style="font-weight: bold; margin: 0; font-size: 1.5em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                {{ if gt (len .Title) 19 }}{{ substr .Title 0 19 }}...{{ else }}{{ .Title }}{{ end }}
                            </h3>
                            <span class="uk-icon"
                                uk-icon="icon: {{ if eq .Params.solved true }}check{{ else }}close{{ end }}; ratio: 1.5"
                                style="color: {{ if eq .Params.solved true }}#4CAF50{{ else }}#F44336{{ end }};"></span>
                        </div>
                        <hr class="uk-divider-icon" style="border-top: 2px solid #ccc;">
                        <div class="uk-card-body" style="color: #333333;">
                            <div class="uk-flex uk-flex-between">
                                <div>
                                    <p class="uk-text-meta" style="font-size: 1.3em;">Points:</p>
                                    <p style="font-size: 1.2em; color: #4CAF50; margin-bottom: 5px;">{{ .Params.points
                                        }}</p>
                                </div>
                                <div>
                                    <p class="uk-text-meta" style="font-size: 1.3em;">Solves:</p>
                                    <p style="font-size: 1.2em; color: #3333CC; margin-bottom: 5px;">{{ .Params.solves
                                        }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const snippetIcons = document.querySelectorAll(".snippet-card .uk-icon");

        snippetIcons.forEach(function (icon) {
            icon.style.fontSize = "30px"; /* Increased icon size */
        });
    });
</script>

{{ end }}