<!-- footer -->
<footer class="footer">
  <div class="uk-container">
    <div class="footer-content">
      <div class="footer-info">
        <div class="uk-grid-medium uk-child-width-1-2@s uk-child-width-1-2@m uk-margin-medium-bottom" uk-grid>
          <div class="uk-margin-small-bottom">
            <h5 class="uk-margin-small-bottom">Email</h5>
            <a href="mailto:{{.Site.Params.footer.email}}" class="footer-link">
              <span uk-icon="icon: mail"></span>
              {{.Site.Params.footer.email}}
            </a>
          </div>
          <div>
            <h5 class="uk-margin-small-bottom">Location</h5>
            <div uk-lightbox>
              <a href="{{.Site.Params.footer.googlemaps}}" 
                 data-caption="{{.Site.Params.footer.address}}"
                 data-type="iframe"
                 class="footer-link">
                <span uk-icon="icon: location"></span>
                {{.Site.Params.footer.address}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-copyright uk-text-center">
      <div class="uk-margin-small-bottom">
        <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener noreferrer" class="uk-margin-small-right">
          <img loading="lazy" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" style="height: 1.2em; width: 1.2em;" alt="Creative Commons">
          <img loading="lazy" src="https://mirrors.creativecommons.org/presskit/icons/by.svg" style="height: 1.2em; width: 1.2em;" alt="CC-BY">
        </a>
        <span class="uk-text-small text-muted">
          © {{ now.Year }} {{.Site.Params.Author}}. All rights reserved.
        </span>
      </div>
    </div>
  </div>
</footer>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}
