<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
    <nav class="uk-navbar-container uk-margin" uk-navbar="mode: click;" style="padding-right: 3rem">
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav uk-visible@s">
                <!-- <li><a style="font-size: 18px; text-transform: none" href="javascript:history.back()">Back</a></li> -->
                {{if .IsHome}}
                <li class="uk-active "><a style="font-size: 18px; text-transform: none"
                        href="{{.Site.BaseURL}}">{{ with .Site.Params.Home }} {{ . }} {{ end }}</a></li>
                {{else}}
                <li><a style="font-size: 18px; text-transform: none" href="/">{{ with .Site.Params.Home }} {{ . }}
                        {{ end }}</a></li>

                {{end}}
                {{ range .Site.Menus.main }}
                {{$aURL := .URL | relLangURL}}
                {{$page := $.Page.Permalink | relLangURL}}
                {{$aURL2 := split $aURL "/"}}
                {{$page2 := split $page "/"}}
                {{$aURL3 := index $aURL2 1}}
                {{$page3 := index $page2 1}}
                {{if eq $aURL3 $page3}}
                <li class="uk-active"><a style="font-size: 18px; text-transform:none"
                        href="{{ .URL | relURL }}">{{.Name}}</a></li>
                {{else}}
                <li><a style="font-size: 18px; text-transform: none" href="{{ .URL | relURL }}">{{.Name}}</a></li>
                {{end}}
                {{end}}
                <li>
                    <button class="theme-toggle" onclick="toggleTheme()">
                        <svg class="light-icon" style="display: none;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z" />
                        </svg>
                        <svg class="dark-icon" style="display: none;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M9.528 1.718a.75.75 0 01.162.819A8.97 8.97 0 009 6a9 9 0 009 9 8.97 8.97 0 003.463-.69.75.75 0 01.981.98 10.503 10.503 0 01-9.694 6.46c-5.799 0-10.5-4.701-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 01.818.162z" />
                        </svg>
                    </button>
                </li>
            </ul>

            <a class="uk-navbar-toggle uk-hidden@s" uk-toggle="target: #sidenav" uk-navbar-toggle-icon href="#"></a>

        </div>
    </nav>
</div>

<div id="sidenav" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">

        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            {{if .IsHome}}
            <li class="uk-active"><a style="font-size: 18px" href="{{.Site.BaseURL}}">{{ with .Site.Params.Home }} {{ . }} {{ end }}</a>
            </li>
            {{else}}
            <li><a style="font-size: 18px" href="{{.Site.BaseURL}}">{{ with .Site.Params.Home }} {{ . }} {{ end }}</a></li>

            {{end}}
            {{ range .Site.Menus.main }}
            {{$aURL := .URL | relLangURL}}
            {{$page := $.Page.Permalink | relLangURL}}
            {{$aURL2 := split $aURL "/"}}
            {{$page2 := split $page "/"}}
            {{$aURL3 := index $aURL2 1}}
            {{$page3 := index $page2 1}}
            {{if eq $aURL3 $page3}}
            <li class="uk-active"><a style="font-size: 18px" href="{{ .URL | relURL }}">{{.Name}}</a></li>
            {{else}}
            <li><a style="font-size: 18px" href="{{ .URL | relURL }}">{{.Name}}</a></li>
            {{end}}
            {{end}}
        </ul>

    </div>
</div>
{{ template "_internal/google_analytics.html" . }}

<script>
function toggleTheme() {
    const currentTheme = document.documentElement.getAttribute('data-theme');
    const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
    
    document.documentElement.setAttribute('data-theme', newTheme);
    localStorage.setItem('theme', newTheme);
    updateThemeIcon();
}

function updateThemeIcon() {
    const currentTheme = document.documentElement.getAttribute('data-theme');
    const lightIcon = document.querySelector('.light-icon');
    const darkIcon = document.querySelector('.dark-icon');
    
    if (currentTheme === 'dark') {
        lightIcon.style.display = 'block';
        darkIcon.style.display = 'none';
    } else {
        lightIcon.style.display = 'none';
        darkIcon.style.display = 'block';
    }
}

// Initialize the icon on page load
document.addEventListener('DOMContentLoaded', updateThemeIcon);
</script>
